.ok-body{padding-bottom:30px;min-width: 1200px;background: #fff;font-family: '微软雅黑';}
.ok-body a:hover{text-decoration: none;color: #e10808;}
.ok-body *{-webkit-box-sizing: border-box;box-sizing: border-box;}
.w-1200{margin:0 auto;width: 1200px;}
.bd{border: 1px solid #eaeaea;}
.sp-block{display: block;overflow: hidden;word-break: break-all;}
.sp-iblock{display: inline-block;}
/* 轮播器 */
.ok-slide-bd{position: relative;z-index:50;height: 360px;overflow: hidden;}
.ok-slide-bd a{display: block;width: 100%;height: 360px;}
.ok-slide-bd .pagination {position:relative;top:-36px;margin:0 auto;width:1000px;text-align:center; z-index:6;}
.ok-slide-bd .pagination li, .ok-slide-bd .pagination a {display:inline-block; *display:inline;*width: 12px;*margin-left: 10px; *zoom:1;}
.ok-slide-bd .pagination a {*display:block;margin-right: 8px; width:14px; height:14px;line-height: 14px;text-indent: -99999em; text-align: center; overflow:hidden; background:#5d5b5e; border-radius:50%;opacity: 0.5; filter:alpha(opacity=50); }
.ok-slide-bd .pagination .current a{background-color:#fff;opacity: 1; filter:alpha(opacity=100);}
.ok-slide-bd .nextSlide{display:none;position: absolute;right:50%;top:50%;z-index:10;text-indent:-1000em;margin: -35px -600px 0 0;width:30px;height:70px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/home_sprites.v2.png) -302px -290px no-repeat;opacity:0.6;}
.ok-slide-bd .prevSlide{display:none;position: absolute;left:50%;top:50%;z-index:10;text-indent:-1000em;margin: -35px 0 0 -650px;width:30px;height:70px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/home_sprites.v2.png) -269px -290px no-repeat;opacity:0.6;}
.ok-slide-bd .nextSlide:hover{background-position: -237px -290px;}
.ok-slide-bd .prevSlide:hover{background-position: -205px -290px;}
/* 热销 */
.sp-list{padding:18px;text-align: center;}
.sp-list a{display: inline-block;margin:0 30px;font-size: 16px;color: #e10808;}
.sp-list i{display: inline-block;vertical-align:middle;margin-right:12px;width: 32px;height: 32px;}
.sp-list a:hover{text-decoration: none;}
.sp-con{text-align: center;}
.sp-con a{display: inline-block;margin: 5px;width: 320px;height: 320px;overflow: hidden;}
.sp-con a:hover p{color: #e10808;}
.sp-con .sp-tips{position: relative;padding:0 40px;top:-115px;lelt:20px;}
.sp-tips .t1{height:50px;line-height:50px;font-size: 24px;letter-spacing:2px;font-weight: bold;color: #000;overflow: hidden; }
.sp-tips .t2{height:30px;line-height:30px;font-size: 20px;color: #000;overflow: hidden; }

/* 今日限购 */
.mod-small{margin-top: 10px;}
.mod-t{margin-top:30px;border-bottom: 2px solid #000;font-size: 16px;}
.mod-t h2{display: inline-block;margin-right:30px;border-bottom:4px solid #000;font-size: 28px;font-weight: 600;color: #000;}
.mod-t span{color: #e10808;}
.mod-t a{padding: 0 10px;color: #3c3c3c;}
.mod-t p{display: inline-block;margin-top:12px;color: #c4c4c4;}
.mod-t .today{margin:0 auto;width:128px;height:44px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/sprites1.png) 0 bottom;}

.td-list{margin-top:30px;margin-left: -10px;}
.td-list li{float:left;padding: 6px;margin-left:10px;margin-bottom:12px;width: 594px;*width:580px;height: 290px;background-color: #ffffff;}
.td-list .sale-img{position:relative;width: 306px;height:276px;overflow: hidden;}
.td-list .sale-img .ok-tag{position: absolute;top:0;left: 0;z-index: 10;line-height:18px;text-align: center;color: #fff;font-size: 22px;}
.td-list .sale-img .ok-tag p{margin-top:12px;font-size: 12px;font-weight: bold;}
.td-list .sale-info{padding:10px;width: 264px;*width: 260px;}
.td-list .sale-time{padding:10px 0;margin-bottom:24px;border-bottom: 1px solid #eaeaea;color: #df2d11;}
.td-list .sale-time i{display: inline-block;float:left;margin-right:5px;margin-top:3px;width: 20px;height: 20px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/sprites1.png) no-repeat -267px -66px;}
.td-list .sale-time p{font-size: 14px;*margin: -20px 0 0 105px;}
.td-list .sale-time span{display: inline-block;padding:0 2px;margin:1px;background-color: #df2d11;border-radius: 4px;font-weight:bold;color: #fff;}

.td-list .sale-info .link1{height:30px;line-height:30px;font-size: 18px;font-weight: 600;}
.td-list .sale-info .link2{height: 20px;line-height: 20px;color: #656565;font-size: 14px;}
.td-list .sale-info .td-price{position:relative;z-index:10;padding:10px 10px 10px 50px;margin:20px 0 20px -50px;*margin-left:-40px;width: 309px;height: 64px;*height:44px;line-height:54px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/sprites1.png) no-repeat;color: #fff;}
.td-list .td-price i{font-size: 28px;font-weight: 600;}
.td-list .td-price .sp-buy{padding: 5px 15px;margin-top:3px;*margin-top:-50px;*margin-right:60px;border-radius:3px;height:36px;*height:26px;line-height:26px;background-color: #ffea00;font-size: 16px;color: #e10808;}
.td-list .sale-info .info1,
.td-list .sale-info .info2,
.td-list .sale-info .info3,
.td-list .sale-info .info4{padding: 0 10px;text-align: center;color: #2a2a2a;}
.td-list .sale-info .info2{border-left: 1px solid #eaeaea;border-right: 1px solid #eaeaea;color: #f21535;}
.td-list .sale-info .info4{padding:0 5px;font-size: 14px;}
.td-list .sale-info .buy-num{*margin-top:-6px;font-size: 18px;color: #c2964a;}
.td-list .sp-info i{display: inline-block;vertical-align:middle;width: 16px;height: 14px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/sprites1.png) no-repeat right -65px;}
.td-list .sp-info p{line-height: 20px;}
/* 海淘 */
.ok-body .mod-list li{float:left;width:240px;*width:238px;height:544px;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;overflow: hidden;}
.ok-body .mod-list .mod-list-2{width: 480px;}
.ok-body .mod-list .mod-list-3{width: 720px;}
.ok-body .mod-list li .mod-item{position:relative;float:left;width: 240px;height: 272px;border-bottom: 1px solid #eaeaea;overflow: hidden;}
.mod-item img,
.mod-list2-item img,
.mod-list-1 img,
.sale-img img,
.digital img{-webkit-transition:all 0.5s linear;transition:all 0.5s linear;}
.mod-item a:hover img{-webkit-transform:translateY(-5px);transform:translateY(-5px);}
.mod-list2-item a:hover img{-webkit-transform:translateX(-5px);transform:translateX(-5px);}
.mod-item a:hover .mod-item-tips, .mod-list2-item a:hover{color: #222;}

.mod-item .ok-tag{position: absolute;z-index: 10;color: #fff;}
.mod-item .ok-tag-jt p{margin-top:5px;font-size: 12px;font-weight: bold;}
.mod-item .ok-tag-jt-2{top:0;left:0;padding:8px 5px;*width:50px;*height:44px;line-height: 20px;font-size: 18px;font-weight: bold;}
.mod-item .ok-tag-hot, .mod-item .ok-tag-new{right: 42px;bottom:100px;}


.mod-item .mod-item-tips{position: relative;top:-250px;left:20px;width: 188px;font-size: 14px;}
.mod-item .mod-item-tips p{height:30px;line-height:30px;overflow: hidden;word-break: break-all;}
.mod-item .mod-item-tips .t1, .list2-tips .t1{font-size: 18px;}
.mod-item .mod-item-tips .t2, .mod-item .mod-item-tips .t3, .list2-tips .t2, .list2-tips .t3{color:#e10808;}
.mod-item .mod-img{position:relative;padding: 10px;text-align: center;}
.mod-item .mod-img .ok-tag{position: absolute;right: 20px;top:18px; z-index: 10;}
.mod-item .mod-info{padding: 10px;}
.mod-item .mod-info p{color: #e10808;font-size: 14px;}
.mod-item .mod-info i{font-size: 18px;}
.mod-item .mod-info del{margin-left:5px;color: #9b9b9b;}
.mod-item .mod-info .link1{height: 40px;line-height: 20px;}


.mod-list2 li:first-child{border-left: 1px solid #eaeaea;}
.ok-body .mod-list2 li{height: 272px;}
/* 国货精品 */
.mod-list2-item{position:relative;height: 272px;border-bottom:1px solid #eaeaea;overflow: hidden;}
.mod-list2-item .mod-item:first-child{*margin-left:-1px;border-right: 1px solid #eaeaea;}
.mod-list2-item .mod-item:last-child{width: 239px;margin-left: -2px;}
.mod-list2-item .ok-tag{position: absolute;right: 15px;bottom: 25px;z-index: 10;}
.mod-list2-item .ok-tag-yb{left: 0;top:0;}

.list2-tips{position: relative;top:-230px;left: 30px;}
.list2-tips p{height: 25px;line-height: 25px;font-size:14px;overflow: hidden;}

.list2-tips .t2{margin-top: 5px;}
.list2-tips .t3{margin-top:80px;font-size: 14px;}
.list2-tips .t3 i{font-size: 20px;}

.mod-3{margin-top: 10px;}
.mod-list3{width: 1200px;padding:10px 0;background-color: #f1f1f1;}
.mod-list3 li{padding: 10px;width: 240px;*width: 220px;}
.mod-list3 .mod-list3-l{width: 80px;}
.mod-list3 .mod-list3-l img{-webkit-transition:all 0.5s linear;transition:all 0.5s linear;}
.mod-list3 .mod-list3-l a:hover img{-webkit-transform:rotateZ(30deg);transform:rotateZ(30deg);}
.mod-list3 .mod-list3-r{width: 120px;}
.mod-list3 .mod-list3-r .link1{height:25px;line-height:25px;font-weight: bold;}
.mod-list3 .mod-list3-r .link2{height:20px;line-height:20px;}
.mod-list3 .mod-list3-r p{line-height:30px;color: #e10808;}
/* 数码发现 */
.digital{margin-bottom: 3px;}
.digital .dig-l, .digital .dig-r{width: 594px;height: 240px;overflow: hidden;}

.mod-sm{border-top: 1px solid #eaeaea;}

.mod-nav-list{background-color: #9f9e9d;}
.mod-nav-list h2{line-height:50px;text-align: center;font-size:18px;border-bottom: 1px solid #fff;color: #fff;background-color: #8d8c8a;}
.nav-list{margin-bottom:30px;padding: 30px 40px 0 40px;height:380px;overflow:hidden;background-color: #9f9e9d;}
.nav-item p{height:30px;cursor:pointer;line-height: 30px;font-size: 14px;overflow: hidden;word-break: break-all;color: #fff;}
.nav-item a:hover p{color: #e10808;}
.nav-item a p{color: #fff;}
.nav-item img{display: none;}
.nav-item.on img{display: block;margin: 0 auto;}
.nav-item:hover a, .nav-item a:hover{color: #e10808;}
.nav-more{padding:5px 15px;background-color: #c5c5c4;font-size: 14px;font-weight:600;color: #fff;}
/* 保障 */
.gua{padding: 10px 0;background-color: #f5f4f4;border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;}

/* 导航 */
.ok-nav{display:none;position:fixed;left:50%;top:50%;z-index:600;margin-left:-715px;margin-top:-180px;width:108px;border: 1px solid #eaeaea;background-color: #fff;font-family: '微软雅黑';}
.ok-nav a{display: block;padding:0 10px;line-height:36px;text-align: center;font-size: 14px;font-family: '微软雅黑';}
.ok-nav a:hover{color: #e10808;text-decoration: none;}
.ok-nav a.on{background-color: #e10808;text-decoration: none;color: #fff;}
.ok-nav a.bold{font-weight: bold;}
.ok-nav a span{display: block;padding:10px 0;line-height:20px;border-bottom: 1px dotted #eaeaea;}
.ok-nav a.on span{position: relative;bottom: -1px;}
.ok-nav a.ok-bak span{padding:5px;border-bottom: none;font-size: 16px;color: #999999;}
.ok-nav .code-box{position: relative;padding-top:8px;background-color: #f1f1f1;}
.ok-nav .code-box i{color: #e10808;}
.code-box p{line-height: 16px;font-weight: 600;}
.ok-nav .code-text{padding-top:0;font-size: 12px;line-height: 16px;}
.ok-nav .code-h1{color: #e10808;}
.ok-nav .code-box:hover{color: inherit;}

.nav-small{width: 50px;text-align: center;margin-left: -660px;}
.nav-small a span{line-height: 16px;}
.nav-small .code{display:none;position: absolute;top:0;right: -110px;padding: 5px;border: 1px solid #eaeaea;background-color: #fff;}
.nav-small .code i{position: absolute;bottom:45px;left: -8px;display: block;width:9px;height:9px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/arrow.png) no-repeat center center;}

.nav-small .code-box{font-size: 12px;background-color:#f3f3f3;}
/* 新用户弹窗 */
.new-user-wrap{position: fixed;left: 0;top:0;z-index:99999999;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#90000000,endColorStr=#90000000);}
.user-body{position:relative;left:50%;top:50%;margin:-307px 0 0 -294px;width:588px;height:614px;background: url(http://img1.hqbcdn.com/misc/neusergif/images/guide.png) no-repeat center center;}
.user-close,.user-link{position:absolute;display: block;}
.user-close{top:40px;right:92px;width: 45px;height: 45px;}
.user-link{bottom:34px;left:188px;width: 180px;height: 45px;text-indent: -99999em;}